*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #6247aa;
    background-image: linear-gradient(150deg, #362369 0%, #8670f4 74%);
}

.heading-div{
    position: absolute;
    font-size: 54px;
    display: block;
    bottom: 400px;
    left: 130px;
    color: #ffff33d7;
}


/* main div */
.input-age{    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    bottom: 290px;
    left: 130px;
    padding: 20px;
    background-color: #f977ce;
    background-image: linear-gradient(315deg, #f977ce 0%, #c373f2 74%);  
    border-radius: 10px;
}

/* date selector */
#select-date{
    outline: none;
    border: none;
    width: 300px;
    background: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-size: 12px;
}

/* calculate button */
.input-age button {
    border: none;
    outline: none;
    background: #ffff33d7;
    padding: 12px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.input-age button:active {
    transform: translateX(-1px) translateY(1.5px);
}

.input-age h4{
    background: whitesmoke;
    padding: 8px;
    border-radius: 10px;
}
.answer{
    position: absolute;
    left: 130px;
    bottom: 230px;
    color: whitesmoke;
}
.value{
    color: #ffff33d7;
}